*{
    box-sizing: border-box; 
}
body{
    min-height: 100vh; 
    display: flex; 
    flex-direction: column; 
    flex-wrap: wrap;
    margin: 0;  
    flex: auto; 
}

.header{
    background-color: #1f2937; 
    color: white; 
    font-size: 24px; 
    font-weight: 600; 
    gap: 10px; 
    padding-top: 10px;
    padding-left: 12%; 
    padding-right: 12%;  
}


.top-header{
    display: flex; 
    flex-direction: row; 
    justify-content: space-between; 
    flex: auto;  
}

#rid{
    text-decoration: none; 
}

ul{
    list-style-type: none;
    font-size: 18px; 
    font-weight: 100; 
    margin: 0px; 
    padding: 0px; 
    display: flex; 
    gap: 20px; 
}

a{
    font-size: 18px;
    color: #e5e7eb; 
}

.site-intro{
    background-color: #1f2937; 
    color: white; 
    display: flex; 
    padding-top: 50px; 
    padding-bottom: 100px; 
    justify-content: space-between; 
    padding-left: 12%; 
    padding-right: 12%; 
    align-items: center; 
    flex: auto; 
    
}

.site-intro-left{
    width: 400px; 
    display: flex;
    flex-direction: column;  
    flex-wrap: wrap;  
    align-self: flex-start; 
}

.site-intro-right{
    height: 200px; 
    width: 500px; 
    background-color: grey; 
    align-self: flex-start; 
}

#hero-main-text{
    font-size: 40px;
    font-weight: 900;
    color: #F9faf8;
}

#hero-sub-text{
    font-size: 18px;
    color: #e5e7eb
}

button {
    padding: 8px 16px;
    border-radius: 8px;
  }

  button.sign-up {
    background: royalblue;
    border: 1px solid royalblue;
    color: white;
    margin-top: 10px; 
    margin-right: 250px; 
  }

#random-header{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center; 
    padding-top: 10px; 
    padding-bottom: 10px; 
}

.random-information{
    background-color: white; 
    color: black;
    display: flex; 
    height: 200px;
    flex-grow: 0;
}

.random-row{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    padding-left: 20%;
    padding-right: 20%;
    gap: 5%;
    height: 300px;
}

.random-column{
    display: flex; 
    flex-direction: column; 
    justify-content: space-between; 
    align-items: center; 
    width: 100%;
    height: 70%; 
    flex-grow: 0; 
}

#box{
    display: flex; 
    background-color:white; 
    border: 5px solid #3882F6; 
    width: 100%;    
    height: 100%;
    margin-bottom: 10px; 
    flex-grow: 0;  
    border-radius: 25px;  
}


.quote-section{
    display: flex; 
    justify-content: center; 
    flex-direction: column;
    background-color: #e5e7eb;
    color: black; 
    height: 100px; 
    padding-top: 100px; 
    padding-left: 200px;
    padding-right: 200px; 
    padding-bottom: 100px; 
    flex: 1; 
}

.quote-text{
    font-size: 36px;  
    align-self: center; 
}

.quote-name{
    display: flex;
    font-weight: 900; 
    padding-right: 50px; 
    justify-content: flex-end; 
    flex: 1; 
}

.call-to-action{
    display: flex;
    justify-content: center; 
    align-items: center;  
    height: 100px;
    padding-top: 75px; 
    padding-bottom: 75px; 
    flex: 1; 
}

.call-to-action-column{
    display: flex; 
    justify-content: center; 
    flex-direction: column; 
    flex-wrap: wrap; 
    background-color: #3882F6;
    color: white; 
    padding-left: 200px; 
    padding-right: 100px; 
    padding-top: 50px;
    padding-bottom: 50px; 
}

.call-to-action-row-header{
    font-weight: 700;
    font-size: 25px; 
}

.bottom-button{
    display: flex; 
    justify-content: flex-start; 
    height: 146px; 
    background-color: #3882F6;
    padding-top: 50px; 
    padding-bottom: 50px; 
    padding-right: 200px; 
    
}

button.bottom-sign-up {
    background: #3882F6;
    border: 2px solid white;
    color: white; 
    height: 50px; 
    width: 150px;  
    align-self: flex-end; 
    font-weight: 600;
  }

  .bottom-box{
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    color: #F9faf8; 
    font-weight: 700;
    padding-top: 35px;
    padding-bottom: 35px; 
  }





